<p>こんにちは、<%= @resource.email %>!</p>

<p>パスワードの変更を受け付けました。以下のリンクから変更できます。</p>

<p><%= link_to 'Change my password', edit_member_password_url(@resource, reset_password_token: @token) %></p>

<p>リクエストしていない場合は、このメールを無視してください。</p>
<p>上のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
