<div class="row my-5">
  <% @posts.each do |post| %>
    <div class="col-4 mb-5">
      <div data-aos="zoom-in" data-aos-duration="2000">
        <%= link_to post_path(post) do %>
          <div class="text-dark"><b><%= post.title %></b></div>
          <%= image_tag post.get_post_image(350,300), class:"rounded" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
