<div class="container">
  <div class="row my-5">
    <% @posts.each do |post| %>
      <div class="col-4 mb-5">
        <%= link_to post_path(post) do %>
          <%= image_tag post.get_post_image(350,300), class:"rounded" %>
          <div class="text-dark"><%= post.title %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>