<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-3">
        <%= link_to post_path(post) do %>
          <%= image_tag post.post_image, size: "200x250" %>
          <div class="text-dark"><%= post.title %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>