<div class="dm-height messageDetails scrollInner">
  <% @messages.each do |message| %>
    <div class="d-flex mt-2">
      <%= link_to member_path(message.member_id) do %>
        <%= image_tag message.member.get_icon(45,45), class:"rounded-circle mr-1 mt-2" %>
      <% end %>
      <div class="bg-light text-dark p-2 rounded-pill mt-2">
        <span class="px-2"><%= message.message %></span>
        <span class="time-text-size">
          <%= l message.created_at, format: :short %>
        </span>
      </div>
    </div>
  <% end %>
</div>