<div class="container about-background">
  <div class="row">
    <div class="col-xs-12 mx-auto my-5 text-center">
      <div class="mt-5">
        <%= image_tag 'Tabekiro-uo-midle-logo.svg', class:"img-fluid" %>
        <h4>
          こちらのサイトはポートフォリオサイトです。<br>
          実際のサービスとして運用しておりませんので<br>
          取り扱いにご注意ください。
        </h4>
      </div>
    </div>
  </div>
</div>