<div class="about-background">
  <div class="container">
    <div class="row">
      <div class="mx-auto my-5">
        <div class="about-logo d-flex ml-5 mt-5">
          <%= image_tag 'Tabekiro-uo-midle-logo.svg' %>
          <h3 class="about-body">は全てのお魚好きを応援しています。</h3>
        </div>
      </div>
    </div>
  </div>
</div>