<div class="container">
  <div class="row">
    <div class="mx-auto">

      <div class="d-flex ml-5 mt-5">
        <%= image_tag 'Tabekiro-uo-midle-logo.svg',class:"ml-5" %>
        <h3 class="mt-5 mx-4"><div class="mt-3">とは...</div></h3>
      </div>

      <div class="col-md-12 mt-4">
        <div class="text-center">
          <p>釣りすぎて食べきれないお魚を無駄にしないためにお魚好きにお裾分けしよう！<br>
             をコンセプトにしたWEBサイトです！</p>
          <p>釣り人なら一度はありませんか？</p>
          <p><b>・せっかくたくさん釣れたけど食べきれない。<br>
                ・お裾分けしたくても近所に知り合いがいない。</b></p>
          </ul>
          <p>など。</p>
          <h5><b>是非！</b></h5>
          <p class="mt-3"><b>このお裾分けアプリでお魚を鮮度の良い状態で食べてあげましょう！</b></p>
        </div>
      </div>
    </div>
  </div>
</div>