<div class="container">
  <div class="row">
    <div class="head">
      <%= image_tag 'Tabekiro-uo-logo.svg' %>
    </div>
    <%= link_to 'お裾分けを見てみる ＞', posts_path, class:"ml-auto text-dark mb-5" %>
  </div>

</div>
  <div class="parallax_box">
    <div class="parallax_content img_bg_01">
    
    </div>
    <div class="parallax_content img_bg_02"><p>Want to photograph this moment that will never come again</p></div>
    <div class="parallax_content img_bg_03"><p>Want to photograph this moment that will never come again</p></div>
  </div>
