<div class="container">
  <div class="row">
    <div class="head">
      <%= image_tag 'Tabekiro-uo-logo.svg' %>
    </div>
    <%= link_to 'お裾分けを見てみる ＞', posts_path, class:"ml-auto text-dark mb-5" %>
  </div>
</div>