<div class="container">
  <div class="row my-5 mx-auto">
    <div class="col-md-10 offset-1">
      <h4 class="my-3">通報一覧</h4>
        <%= render 'admin/reports/index', reports: @reports %>
    </div>
  </div>
  <div class="row mb-5">
    <div class="mx-auto mb-5">
      <%= paginate @reports, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>