<div class="container">
  <div class="row">
    <div class="col-md-5 my-5">
      <h4>ジャンル編集</h4>
      <%= form_with model: @tag, url: admin_tag_path(@tag), method: :patch do |f| %>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th><%= f.text_field :name, class:"form-control" %></th>
              <th><%= f.submit '更新', class:"btn btn-outline-success form-control" %></th>
              <th>
                <%= link_to '削除', admin_tag_path(tag), method: :delete,
                  data: { confirm: "[重要]削除すると関連する投稿が全て削除されます。本当によろしいですか？" },
                  class:"btn btn-outline-danger form-control" %>
              </th>
            </tr>
          </thead>
        </table>
      <% end %>
    </div>
  </div>
</div>