<div class="chat-height messageDetails scrollInner">
  <% post.post_comments.each do |comment| %>
    <div class="d-flex mt-2">
      <%= link_to member_path(comment.member_id) do %>
        <%= image_tag comment.member.get_icon(35,35), class:"rounded-circle mr-1" %>
      <% end %>
      <div class="text-dark p-2 rounded-pill message-frame">
        <%= comment.comment %>
        <span class="time-text-size">
          <%= l comment.created_at, format: :short %>
        </span>
      </div>
    </div>
  <% end %>
</div>