@use '~bootstrap/scss/bootstrap';

.head img {
  width: auto;
  height: 600px;
}
footer {
  margin-top: 150px;
}

.mapForm {
  height: 280px;
  width: 100%;
}
.mapShow {
  height: 450px;
  width: 100%;
}
.mapIndex {
  height: 600px;
  width: 100%;
}
.chat-height {
  height: 300px;
}
#hideLimit {
  display: none;
}