@use '~bootstrap/scss/bootstrap';

// .backgroundImage {
//   width:100%;
//   height:1000px;
//   background-image: url(../../assets/images/backUo.jpg);
//   background-size:cover;
//   background-position:center;
//   background-attachment: fixed;
// }
.head img {
  width: auto;
  height: 600px;
}
footer {
  margin-top: 150px;
}

.mapForm {
  height: 280px;
  width: 100%;
}
.mapShow {
  height: 450px;
  width: 100%;
}
.mapIndex {
  height: 600px;
  width: 100%;
}
.chat-height {
  height: 50vh;
  overflow-y: scroll;
}
.timeLimit {
  display: block;
}
.hideLimit {
  display: none;
}