.chat-height {
  height: 30vh;
  width: 20em;
  overflow-y: scroll;
  word-break: break-all;
}
.dm-height {
  height: 50vh;
  overflow-y: scroll;
  word-break: break-all;
}
.message-frame {
  background-color: #dcdcdc33;
}