/* pagenation layouts */

.page-item.active .page-link {
  background-color: rgb(105,105,105);
  border-color: rgb(105,105,105);
}

.apage-link {
  color: rgb(105,105,105);
}

.page-item a:hover {
  color: rgb(105,105,105);
}
