.head img {
  width: auto;
  height: 600px;
}

.parallax_content{
  display: flex;
  height: 80vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url('../../assets/images/backuo-neo.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.scrollbox {
  padding: 80px, 0;
  background-color: #00000033;
}

.about-background {
  height: 80vh;
  width: 100%;
}

.about-logo img{
  margin-top: 15vh;
}

.about-logo .about-body {
  margin-top: 25vh;
}
.top-btn img {
  width: 400px;
}