.head img {
  width: auto;
  height: 600px;
}

.parallax_content{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.img_bg{
  background-image: url('../../assets/images/backuo-neo.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.scrollbox {
  background-color: seashell;
  padding: 80px, 0;
}
