<footer class="fixed-bottom py-3 text-center mt-5">
  <div class="container">
    <a class="text-light" href="https://github.com/yuna096740/Tabekiro_uo">
      Github link: created by Yuna096740
    </a>
  </div>
</footer>