<div class="collapse" id="headerLogo">
  <div class="p-3 m-3 d-flex">
    <h5><%= link_to 'TOP', root_path, class:"text-dark ml-5" %></h5>
    <h5><%= link_to 'ABOUT', about_path, class:"text-dark ml-5" %></h5>
    <h5><%= link_to 'お裾分け一覧', posts_path, class:"text-dark ml-5" %></h5>
    <% if member_signed_in? %>
      <h5><%= link_to 'お裾分け作成', new_post_path, class:"text-dark ml-5" %></h5>
    <%end %>
  </div>
</div>
