<botton type="button" class="btn rounded-circle" data-toggle="modal" data-target="#noticeModal">
  <% if notices.exists? %>
    <span class="text-danger"><i class="fas fa-bell"></i></span>
  <% else %>
    <span class="text-primary"><i class="fas fa-bell"></i></span>
  <% end %>
</botton>
<div class="modal fade" id="noticeModal" rabindex="-1"
  role="dialog" aria-labelledby="noticeLabel" ariahidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noticeLabel">通知一覧</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" id="notice">
        <% notices = notices.where.not(visiter_id: current_member.id) %>
        <% if notices.exists? %>
          <%= render 'public/notifications/notice_content', notices: notices %>
        <% else %>
          <p>通知はありません</p>
        <% end %>
      </div>

      <% if notices.exists? %>
        <div class="modal-footer">
          <%= link_to destroy_all_notifications_path, method: :delete, class:"text-dark" do %>
            <p class="mx-1">ALL<i class="fas fa-trash"></i></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>